*{
    margin: 0;
    padding: 0;

}

.contact{
    margin-top: 2px;
        height: 640px;
    width: 100%;
      background-color: rgba(19, 1, 1, 0.918);
    /* background-color: rgb(34, 33, 33); */
    /* margin-top: 2px; */


}

.contact h1{
    text-decoration: underline;
    color: white;
    text-align: center;
    padding: 35px;
}

.contact .con-outer{

    display: flex;
    justify-content: center;
  
}

.contact .con-outer .form{
    background-color:transparent;
    height: 500px;
    width: 500px;
}


.contact .con-outer .form .second{
 margin-top: 10px;
}

.contact .con-outer .form input{

    height: 50px;
    width: 240px;
    margin-left:4px ;
    background-color: rgba(131, 131, 143, 0.233);
    text-align: center;
}

.contact .con-outer .form textarea{

    height: 200px;
    width: 490px;
    margin-left: 5px;
    margin-top: 15px;
        background-color: rgba(131, 131, 143, 0.233);
        text-align: center;
}

.btn{
    background-color:rgb(184, 134, 212);
    margin-left: 170px;
    margin-top: 10px;
    height: 36px;
    width: 150px;
}


@media(max-width:500px){


    .contact .con-outer .form input{
margin-bottom: 10px;

    width: 400px;
    margin-left: 9%;
   

}

.contact .con-outer .form textarea{

    width: 400px;
    margin-left: 9%;

}

.btn{
    margin-bottom: 30px;
}


}